@model IEnumerable<aueProject.Models.MetterData>
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/Css/style.css" />
    <link rel="stylesheet" href="~/Content/Css/reset.css" />
    <link rel="stylesheet" href="~/Content/Css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Content/Css/fa-all.min.css" />
    <title>AUE Analysing System for ME96SS</title>
</head>

<body>
    <div id="app">
        <div id="side-bar">
            <div class="logo-text">ICONICS</div>
            <div class="electricity">
                <nav>
                    <ul>
                        <p class="icon-text-icon">
                            <i class="fa-solid fa-bolt"></i>
                            electricity
                            <i class="fa-solid fa-chevron-up"></i>
                        </p>
                        <li>Meter 1</li>
                        <li>Meter 2</li>
                        <li>Meter 3</li>
                        <li>Meter 4</li>
                    </ul>
                    <ul>
                        <p class="icon-text">
                            <i class="fa-regular fa-bell"></i>
                            Notification
                        </p>
                    </ul>
                </nav>
            </div>
            <div class="line"></div>
            <nav class="log-out">
                <ul>
                    <p class="icon-text">
                        <i class="fa-solid fa-power-off"></i> Log out
                    </p>
                </ul>
                <ul>
                    <p class="icon-text"><i class="fa-solid fa-question"></i> Help</p>
                </ul>
            </nav>
        </div>

        <div id="main">
            <div class="status-bar">
                <p class="status">Metter</p>
            </div>

            <div class="title-bar">
                <p class="title">Building Management System (BMS)</p>
            </div>
            <div class="device-block">
                <div class="device-name">Metter 1</div>
                <div class="update-status">
                    Update Time:
                    <span class="updated-date-time">1/30/2024 03:45 PM</span>
                </div>
            </div>
            <br />
            <div class="charts-container">
                <div class="chart-block">
                    <!-- fontawsome icon for meter -->

                    <div class="chart-title">Phase Voltage (V)</div>
                    <div class="wrapper">
                        <div class="data-block">
                            <div class="field">U12</div>
                            <div class="value text-orange">380.86</div>
                        </div>

                        <div class="data-block">
                            <div class="field">U23</div>
                            <div class="value text-yellow">382.44</div>
                        </div>

                        <div class="data-block">
                            <div class="field">U31</div>
                            <div class="value text-green">380.99</div>
                        </div>
                    </div>
                </div>

                <div class="chart-block">
                    <div class="chart-title">Current (A)</div>
                    <div class="chart-display"></div>
                    <div class="wrapper">
                        <div class="data-block">
                            <div class="field">I1</div>
                            <div class="value text-orange">557.64</div>
                        </div>

                        <div class="data-block">
                            <div class="field">I2</div>
                            <div class="value text-yellow">386.22</div>
                        </div>

                        <div class="data-block">
                            <div class="field">I3</div>
                            <div class="value text-green">458.44</div>
                        </div>
                    </div>
                </div>

                <div class="chart-block">
                    <div class="chart-title">Active Power (kW)</div>
                    <div class="chart-display"></div>
                    <div class="wrapper">
                        <div class="data-block">
                            <div class="field">P1</div>
                            <div class="value text-orange">119.39</div>
                        </div>

                        <div class="data-block">
                            <div class="field">P2</div>
                            <div class="value text-yellow">83.82</div>
                        </div>

                        <div class="data-block">
                            <div class="field">P3</div>
                            <div class="value text-green">96.31</div>
                        </div>
                    </div>
                </div>

                <div class="chart-block">
                    <div class="chart-title">Frequency (Hz)</div>
                    <div class="chart-display">
                        <div>
                            <canvas id="frequency-chart"
                                    style="position: relative; height: 100px; width: 200px"></canvas>
                        </div>
                    </div>
                </div>
                <div class="chart-block">
                    <div class="chart-title">Avarage-volt(v)</div>
                    <div class="chart-display">
                        <div>
                            <canvas id="voltage-chart"
                                    style="position: relative; height: 100px; width: 200px"></canvas>
                        </div>
                    </div>
                </div>
                <div class="chart-block">
                    <div class="chart-title">Avarage-current(a)</div>
                    <div class="chart-display">
                        <div>
                            <canvas id="current-chart"
                                    style="position: relative; height: 100px; width: 200px"></canvas>
                        </div>
                    </div>
                </div>
                <div class="chart-block Consumption">
                    <div class="chart-title">Consumption(MWh)</div>
                    <div class="chart-display">
                        <div>
                            <canvas id="consumption-chart"
                                    style="position: relative; height: 100%; width: 100%"></canvas>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="chart-block Consumption2">
                    <div class="chart-title">Consumption(kWh)</div>
                    <div class="chart-display">
                        <div>
                            <canvas id="consumption2-chart"
                                    style="position: relative; height: 100%; width: 100%"></canvas>
                        </div>
                    </div>
                </div>
                <div class="chart-block Current2">
                    <div class="chart-title">Current(A)</div>
                    <div class="chart-display">
                        <div>
                            <canvas id="current2-chart"
                                    style="position: relative; height: 100%; width: 100%"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="generate-report">
            <a href="https://example.com" class="link-button">
                <i class="fa-solid fa-print"></i>
            </a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/Scripts/script.js"></script>
</body>
</html>