
#page-main {
    padding-top: 0;
    margin: 0 auto;
    width: 90%;
}

.report-header {
    display: flex;
    justify-content: space-between;
}

.table-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.report-title {
    display: inline-block;
    text-transform: uppercase;
    color: #4472c4;
}


table, th, td {
    padding: 5px;
}

th {
    background-color: #4472c4;
    color: white;
}

td {
    text-align: center;
    padding: 10px;
}

table {
    border-spacing: 1px;

}

.date-report {
    display: flex;
    margin-top: 10px;
    justify-content: end;
}

.date-report .from-to-block {
    margin-right: 1rem;
    font-weight: bold;
}

.date-time-block {
    color: #4472c4;
}

.table td:nth-child(2n+1) {
    background-color: lightgray;
}